/* Fonts */
@font-face {
    font-family: bookFont;
    src: url(Fonts/book.ttf);
} 

@font-face {
    font-family: mediumFont;
    src: url(Fonts/medium.ttf);
}


/* Background Body */

body {
    background-image: url('Images/Kavala.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

/* Header Title */

.title {
    display: flex;
    justify-content: center;
    margin-top: -3%;
}


/* Content Box */ 

.contentbox {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    justify-content: center;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    background-color: #0000003b;
}

.inputbox {
    flex-direction: column;
    margin-top: 1em;
    padding: 1em;
    background-color: #212121;
    border-radius: 16px;
    border-color: transparent;
    color: white;
    font-size: 16px;
    text-align: center;
}

.checkbox {
    height: 2em;
    width: 2em;
}

.calculatebutton {
    margin-top: 1em;
    background-color: transparent;
    border-radius: 6px;
    border: transparent;
    box-shadow: 5px 5px 5px #191919;
    color: white;
    font-family: bookFont;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    transition: all 0.2s;
}

.calculatebutton:hover {
    transition: all 0.2s;
    cursor: pointer;
    font-size: 24px;
}

.questiontext {
    display: flex;
    align-items: center;
    font-family: bookFont;
    color: white;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.4px;
}

.resulttext {
    display: flex;
    align-items: center;
    font-family: bookFont;
    color: white;
    font-size: 22px;
    letter-spacing: 0.4px;
}

.getstartedbutton {
    padding: 1em;
    font-family: bookFont;
    font-size: 16px;
    color: white;
    background-color: transparent;
    font-weight: bold;
    border: transparent;
    transition: all 0.2s;
}

.getstartedbutton:hover {
    cursor: pointer;
    font-size: 17px;
    transition: all 0.2s;
}


@media (max-width: 1024px) {

    .boxdiv {
        display: grid;
        grid-area: auto;
        grid-template-rows: auto;
        grid-template: auto;
        justify-content: center;
    }

    .button {
        display: grid;
        margin-top: 10%;
        margin-left: 15%;
        justify-content: center;
        align-items: center;
        margin-right: 15%;
        background-color: rgba(47, 47, 47, 0);
        padding: 55px;
        border-radius: 20px;
        border-color: #262626;
        border-width: 6px;
        background-size: cover;
        background-repeat:no-repeat;
        background-position-x: center;
        background-position-y: center;
        transition: all 0.2s;;
        color: white;
        font-family: bookFont;
        font-weight: bolder;
        font-size: 42px;
    }





    .contentbox {
        margin-top: 5em;
        display: flex;
        flex-direction: column;
        border-radius: 30px;
        padding-top: 3%;
        padding-bottom: 3%;
        justify-content: center;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        background-color: transparent;
    }


}


/* Back Div */

.backdiv {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.backtext {
    display: flex;
    align-items: center;
    font-family:bookFont;
    font-size: 32px;
    letter-spacing: 0.4px;
    color: white;
    transition: all 0.2s;;

}

.backtext:hover {
    transition: all 0.2s;;
    color: #218c74;
    cursor: pointer;
}

/* Footer */


.footer {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.footertext {
    display: flex;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #218c74;
    font-size: 32px;
    letter-spacing: 0.4px;
}






















/* NEW INDEX PAGE STUFF */


/* HEADER & FOOTER */
.header {
    display: flex;
    justify-content: center;
}

.headerlogo {
    width: auto;
    height: auto;
    max-height: 264px;
}

.logo {
    display: flex;
    height: auto;
    width: auto;
    max-width: 200px;

}

.footer {
    display: flex;
    justify-content: center;
}

.email {
    color: white;
    font-family: bookFont;
    font-weight: 300;
    font-size: 32px;
}

body { /* Background Image Stuff */
    background-image: url("Images/Kavala.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32em;
}

.logo {
    margin-top: 5%;
    width: auto;
    height: auto;
    align-items: center;
    max-width: 312px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.box {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    margin: 6px;
    border-radius: 25px;
    border-width: 3px;
    max-height: 380px;
    justify-content: center;
    align-items: center;
}


#creditbox {
    border-color: #ffb142;
    transition: all 0.5s;
}

#creditbox:hover {
    transition: all 0.5s;
    background-color: #ffb04217;
    cursor: pointer;
}

#levelbox {
    border-color: #706fd3;
    transition: all 0.5s;
}

#levelbox:hover {
    transition: all 0.5s;
    background-color: #716fd314;
    cursor: pointer;
}

#rewardbox {
    border-color: #ff5252;
    transition: all 0.5s;
}

#rewardbox:hover {
    transition: all 0.5s;
    background-color: #ff525214;
    cursor: pointer;
}


.ptext {
    display: flex;
    color: white;
    font-family: bookFont;
    font-size: 23px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}











@media only screen and (max-width: 1024px) {

    .headerlogo {
        width: auto;
        height: auto;
        max-height: 124px;
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .section {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 32em;
    }

    
    .box {
        display: flex;
        flex-direction: column;
        border: 1px solid;
        margin: 6px;
        border-radius: 25px;
        border-width: 3px;
        max-height: 512px;
        justify-content: center;
        align-items: center;
        margin-bottom: 16px;
    }


    .footer {
        margin-top: 697px;
    }

  }